name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'adopt'
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew build
      - name: Build and analyze
        env:
          SONAR_TOKEN: 282cdaa080e790779baa7b0dae8dd734f8e10050
        run: ./gradlew build sonarqube --info
